<%- include('normalpartials/header.ejs')%>
<%- include('normalpartials/nav.ejs')%>
<section class="grid">
    <div class="aboutContent">
        <div class="aboutContentLeft">
            <div class="aboutontentinfo">
               <h4><b>PMIS Ltd</b></h4>
               <p>PMIS Limited is a Ugandan, family owned and run business. Established in 1992,
               Located in Magigye,
               about 15 miles North of Kampala. Ugachick Poultry Breeders Limited has five mutually dependent business
               divisions namely
               ;- Feed Mill, Parent farm, Hatchery, Broiler Farm, Processing Plant.
               The day old chicks are sold to commercial farmers who have done bookings and some of the broilers are
               reared on
               Ugachick’s owned broiler farms. The Feed Mill produces quality feed for the parent farms, broiler farms
               and commercial
               poultry farmers packed in different types and sizes.</p>
            </div>
        </div>
        <div class="about-content-right">
               <img src="/images/chick.jpeg" height="200" alt="">
        </div>
    </div>
</section>


    <div class="aboutBo">
        <div class="aboutValues">
        <h4><b>OUR CORE VALUES</b></h4>
        </div>

        <div class="aboutBox">
           <div class="aboutBox1">
              <i class="fas fa-user mr-2"></i>
              <p>INTEGRITY</p>
           </div>
           <div class="aboutBox1">
               <i class="fas fa-user mr-2"></i>
              <p>IMPROVEMENT</p>
           </div>
           <div class="aboutBox1">
              <i class="fas fa-user mr-2"></i>
              <p>INITIATIVE AND DRIVE</p>
           </div>
           <div class="aboutBox1">
              <i class="fas fa-user mr-2"></i>
              <p>FAIRNESS AND RESPECT</p>
           </div>
        </div>
    </div>

    <div class="certification">
        <div class="certification1">
            <p><b>PMIS is fully certified by:</b></p><br>
            <img src="/images/chick.jpeg" height="50" alt="">
            <img src="/images/chick.jpeg" height="50" alt="">
            <img src="/images/chick.jpeg" height="50" alt="">
            <img src="/images/chick.jpeg" height="50" alt="">
        </div>
        </div>
 <%- include('normalpartials/footerwording.ejs')%>
<%- include('normalpartials/footer.ejs')%>