<%- include('normalpartials/header.ejs')%>
<%- include('normalpartials/nav.ejs')%>
<div class="container">
    <div id="root"></div>
    <div class="sidebar">
         <div class="head"><p>My Cart</p><p id="count">0</p></div>
        <div class="cartItem">Your cart is empty</div>
        <div class="foot">
            <h3>Total</h3>
            <h2 class="info1" id="total">$ 0.00</h2> 
        </div>
    </div>
</div>

<%- include('normalpartials/footerwording.ejs')%>
<%- include('normalpartials/footer.ejs')%>