<%- include('dashboard/header.ejs')%>
<%- include('dashboard/side.ejs')%>

    <div class="feedhead">
        <h4><b>Eggs Summary</b></h4>
    </div>

    <div class="feedstock">
        <p><b>Eggs sold vs. Eggs Remaining</b></p>
    </div>

    
<%- include('dashboard/bottom.ejs')%>
<%- include('dashboard/footer.ejs')%>