<%- include('dashboard/header.ejs')%>
<%- include('dashboard/side.ejs')%>

    <div class="feedhead">
        <h4><b>Feeds Stock Summary</b></h4>
    </div>

    <div class="feedstock">
        <p><b>Feed Consumed vs. Feed Remaining</b></p>
    </div>

<%- include('dashboard/bottom.ejs')%>
<%- include('dashboard/footer.ejs')%>