<%- include('normalpartials/header.ejs')%>
<%- include('normalpartials/nav.ejs')%>


<section class="grid">
    <div class="content">
        <div class="content-left">
            <div class="info">
                <h2>Order Your Best <br>Poultry Product</h2>
                <p>Hey, Our quality Poultry Products are waiting for you, <br>
                We are always near to you with fresh and quality Poultry</p>
            </div>
            <button><a class="nav-link active sel" href="/services" aria-current="page" href="#">Explore Services</a></button>
        </div>
        <div class="content-right">
            <img src="/images/chick.jpeg" alt="">

        </div>
    </div>
</section>

<section class="category">
    <div class="list-items">
        <h3>Popular Poultry Products</h3>
        <div class="card-list">
            <div class="card">
                <img src="/images/chick.jpeg" alt="">
                <div class="food-title">
                    <h1>Day One Chicks</h1>
                </div>
                <div class="desc-food">
                    <p>erhjghjhjhghg retytyth trjytjyh btytrutytj trthh grhgh ger</p>
                </div>
                <div class="price">
                    <span>2500</span><span><i class='bx bxs-plus-circle plus-icon'></i></span>
                </div>
            </div>
            <div class="card">
                <img src="/images/chick.jpeg" alt="">
                <div class="food-title">
                    <h1>Beef Burger</h1>
                </div>
                <div class="desc-food">
                    <p>erhjghjhjhghg retytyth trjytjyh btytrutytj trthh grhgh ger</p>
                </div>
                <div class="price">
                    <span>$10.99</span><span><i class='bx bxs-plus-circle plus-icon'></i></span>
                </div>
            </div>
            <div class="card">
                <img src="/images/chick.jpeg" alt="">
                <div class="food-title">
                    <h1>Beef Burger</h1>
                </div>
                <div class="desc-food">
                    <p>erhjghjhjhghg retytyth trjytjyh btytrutytj trthh grhgh ger</p>
                </div>
                <div class="price">
                    <span>$10.99</span><span><i class='bx bxs-plus-circle plus-icon'></i></span>
                </div>
            </div>
            <div class="card">
                <img src="/images/chick.jpeg" alt="">
                <div class="food-title">
                    <h1>Beef Burger</h1>
                </div>
                <div class="desc-food">
                    <p>erhjghjhjhghg retytyth trjytjyh btytrutytj trthh grhgh ger</p>
                </div>
                <div class="price">
                    <span>$10.99</span><span><i class='bx bxs-plus-circle plus-icon'></i></span>
                </div>
            </div>
        </div>
    </div>
</section>






<%- include('normalpartials/footerwording.ejs')%>
<%- include('normalpartials/footer.ejs')%>