<%- include('normalpartials/header.ejs')%>
<%- include('normalpartials/nav.ejs')%>

<div class="servicesBody">
<div class="servicesHead">
    <h2>FEATURES</h2>
    <h1>Our Features & Services.</h1>
</div>

<div class="servicesRow">
    <div class="servicesBox">
        <img src="/images/chick.jpeg" alt="">
        <h3>Communications</h3>
        <p>dfdgfng fnnhnyg dbdffbgn nfnfnndhf bfdb <br> turpis. marriss
        pelleneng id nih <br> tortor id.</p>
        <button class="serviceButton">See More</button>
    </div>

    <div class="servicesBox">
        <img src="/images/chick.jpeg" alt="">
        <h3>Inspired Des</h3>
        <p>dfdgfng fnnhnyg dbdffbgn nfnfnndhf bfdb <br> turpis. marriss
            pelleneng id nih <br> tortor id.</p>
        <button class="serviceButton">See More</button>
    </div>

    <div class="servicesBox">
        <img src="/images/chick.jpeg" alt="">
        <h3>Happy customers</h3>
        <p>dfdgfng fnnhnyg dbdffbgn nfnfnndhf bfdb <br> turpis. marriss
            pelleneng id nih <br> tortor id.</p>
        <button class="serviceButton">See More</button>
    </div>

</div>
</div>
<%- include('normalpartials/footerwording.ejs')%>
<%- include('normalpartials/footer.ejs')%>