<%- include('normalpartials/header.ejs')%>
    <%- include('normalpartials/nav.ejs')%>
        <p>vaccination</p>
        <%- include('normalpartials/footerwording.ejs')%>
            <%- include('normalpartials/footer.ejs')%>