<nav class="navbar navbar-expand-lg navbar-light bg-pink">
     <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
         <a href="/" class="navbar-brand mt-sm-3" href="#"><img src="./images/logo.webp" class="logo" alt="Home"></a>
         <ul class="navbar-nav me-auto mb-1 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active sel" href="/services" aria-current="page" href="#">Services</a>
           </li>

           <li class="nav-item">
             <a class="nav-link active sel" href="/about" aria-current="page" href="#">About Us</a>
           </li>
         </ul>
         <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="search" type="submit"><i class="nav-icon fas fa-magnifying-glass-dollar"></i></button>
         </form>
         <ul class="navbar-nav me-auto mb-1 mb-lg-0 ps-lg-5 me-lg-3">
           
           <%if (user){%>
            <li class="nav-item">
              <div class="cart"><a class="nav-link active sel" href="/cart" aria-current="page"><i class="fa-solid fa-cart-shopping"></i></a></div>
            </li>
            <li class="nav-item">
              <a class="nav-link active sel" aria-current="page" href="/logout"><b>Logout</b></a>
            </li>
            <li class="nav-item">
                <button type="button" class="userButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <%=user.email.substring(0,2) %><i class="ps-2 fa fa-user-circle" ></i>
                </button>
             </li>
             
           <%} else {%>
            <li class="nav-item">
              <a class="nav-link active sel" href="/login" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active sel" href="/signup" aria-current="page" href="#">Register</a>
            </li>
           <%}%>
           
           
         </ul>
       </div>
     </div>
   </nav>
   
    <div class="main"> 